<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <!--<property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">test</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/fcrepo</property>-->

        <property name="hibernate.connection.username">crossasiafedora60dbuser</property>
        <property name="hibernate.connection.password">YqBZppn1tL9JY8wO6U</property>
        <property name="hibernate.connection.url">jdbc:postgresql://zdd-crossasia-fedora-prod:5432/crossasia_fedora6_0_prod</property>

        <!--<property name="hibernate.current_session_context_class">thread</property>
        <property name="connection_pool_size">1</property>
        <property name="hbm2ddl.auto">create</property>
        <property name="show_sql">true</property>-->
        <mapping class="org.crossasia.fedora.entity.Containment"/>
    </session-factory>
</hibernate-configuration>
